<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="templateOptions">
        <label>
            Label:
            <input type="text" formControlName="label">
        </label>
        <br>
        <label>
            Placeholder:
            <input type="text" formControlName="placeholder">
        </label>
        <br>
        <label>
            Description:
            <input type="text" formControlName="description">
        </label>
        <br>
        <label>
            Required:
            <input type="checkbox" formControlName="required">
        </label>
        <!-- <br>
        <label>
            Type:
            <input type="text" formControlName="type">
        </label> -->
        <br>
        <br>
        <label>
            MinLength:
            <input type="number" formControlName="minLength">
        </label>
        <br>
        <label>
            MaxLength:
            <input type="number" formControlName="maxLength">
        </label>

        <br>
        <label>
            Readonly:
            <input type="checkbox" formControlName="readonly">
        </label>
    </div>
    <!-- <button type="submit">Submit</button> -->
</form>