<h1>toggle</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="templateOptions">
        <label>
            Label:
            <input type="text" formControlName="label">
        </label>
        <label>
            Placeholder:
            <input type="text" formControlName="placeholder">
        </label>
        <label>
            Description:
            <input type="text" formControlName="description">
        </label>
        <label>
            Required:
            <input type="checkbox" formControlName="required">
        </label>
        <label>
            Disabled:
            <input type="checkbox" formControlName="disabled">
        </label>
        <label>
            Readonly:
            <input type="checkbox" formControlName="readonly">
        </label>\
        <div>
            <label>Hide Label</label>
            <input type="checkbox" formControlName="hideLabel">
        </div>

        <div>
            <label>Hide Required Marker</label>
            <input type="checkbox" formControlName="hideRequiredMarker">
        </div>

        <!-- <button type="submit">Submit</button> -->
    </div>
</form>