<h1>File Element</h1>
<form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div formGroupName="templateOptions">
        <label>
            Label:
            <input type="text" formControlName="label">
        </label>
        <label>
            Placeholder:
            <input type="text" formControlName="placeholder">
        </label>
        <label>
            Required:
            <input type="checkbox" formControlName="required">
        </label>
        <label>
            Description:
            <input type="text" formControlName="description">
        </label>
        <label>
            Disabled:
            <input type="checkbox" formControlName="disabled">
        </label>
        <!-- <button type="submit">Submit</button> -->
    </div>
</form>